<mat-nav-list>
    <style>
        .geek{
            width: 100%;
            height: 100%;
        }
        img{
            width: 100%;
            height: 100px;
            object-fit: cover;
        }
    </style>
    <div class="geek">
        <img src="../../assets/image/newlogo.png" alt="Sound Space">
    </div>
    <mat-divider></mat-divider>
    

    <a mat-list-item  class="homeSide" (click)="onHomeButtonClick.emit()" routerLinkActive="list-item-active"><mat-icon>home</mat-icon> Home</a>
   
    <a mat-list-item (click) = "setRoute()" routerLink="/profile" routerLinkActive="list-item-active">
        <mat-icon>face</mat-icon> Profile
    </a>

    <a mat-list-item class="exploreSide" routerLink="/explore" routerLinkActive="list-item-active"> <mat-icon>whatshot</mat-icon> Trending  </a>

    <a mat-list-item class="postSide" (click)="onPostButtonClick.emit()" routerLinkActive="list-item-active"><mat-icon>microphone</mat-icon> Post </a>


    
    <!-- Searching is the componenet name for Community had a bit of errors sorry about that -->
    <a mat-list-item class="searchingSide" routerLink="/searching" routerLinkActive="list-item-active"><mat-icon>people</mat-icon>Community</a>

    


    
</mat-nav-list>


