<mat-toolbar color="primary">SoundSpace</mat-toolbar>

<div fxLayoutAlign="center center" fxFlexFill class="main-div">


    <mat-card fxFlex="25">

        <mat-toolbar color="primary">Create Account</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
    
            <mat-form-field>
                Email
                <input matInput [(ngModel)] = "submitemail" [ngModelOptions]="{standalone: true}" matInput type="email">
            </mat-form-field>

            <mat-form-field>
                Username
                <input matInput [(ngModel)] = "submitname" [ngModelOptions]="{standalone: true}" type="username" >
            </mat-form-field>

            <mat-form-field>
                Password
                <input matInput matInput [(ngModel)] = "submitpass" [ngModelOptions]="{standalone: true}" type="password">
            </mat-form-field>

            <mat-form-field>
                Confirm Password
                <input matInput matInput [(ngModel)] = "submitpass2" [ngModelOptions]="{standalone: true}" type="password">
            </mat-form-field>

            <button mat-raised-button (click) = "addUser()" type="submit">Sign Up</button> 

            <p></p>
            <p></p>
            Already have an account?<button class="link" routerLink="">Sign in</button>
            </form>
            
            <div>
                <ng-container
                *ngIf="passmatcherror; then error">
        </ng-container>

        <ng-container
                *ngIf="emptyerror; then emperror">
        </ng-container>

        <ng-container
                *ngIf="existinguser; then exerror">
        </ng-container>
        
        <ng-template #error>
            <div>ERROR: Passwords must match</div>
        </ng-template>

        <ng-template #emperror>
            <div>ERROR: Fields are blank</div>
        </ng-template>

        <ng-template #exerror>
            <div>ERROR: The username already exists</div>
        </ng-template>
        
        </div>

    </mat-card>

</div>