<mat-toolbar>
  <mat-icon>
      face
  </mat-icon>
   &nbsp;  Welcome To Your Profile Page 
</mat-toolbar>
&nbsp; 
<mat-card>
    <mat-card-header>
      <mat-card-title>{{ profile.name }}</mat-card-title>
      <mat-card-subtitle>@{{ handle }}</mat-card-subtitle>
      <mat-card-subtitle>{{ profile.jobTitle }}</mat-card-subtitle>
      <button mat-icon-button (click)="toggleEditMode()" (click)="uploadFile()" *ngIf= "user.ID == userID" >
        <mat-icon>{{ editMode ? 'done' : 'edit' }}</mat-icon>
      </button>
    </mat-card-header>
    <div *ngIf="!editMode">
      <img mat-card-image [src]="profile.userImage" class="profile-image">
      <mat-card-content>
        <p>{{ profile.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [ngStyle]="{'color': user.following ? 'red' : 'inherit'}" (click) = "togglefollow()" *ngIf= "user.ID != userID">{{ user.following ? 'Following' : 'Follow' }}</button>
        <button mat-button *ngIf= "user.ID != userID">Message</button>
      </mat-card-actions>
    </div>
    <div *ngIf="editMode">
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="profile.name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Job Title" [(ngModel)]="profile.jobTitle" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
        <input type="file"
       (change)="onFileSelected($event)" #fileUpload>

      <mat-form-field>
        <textarea matInput placeholder="Description" [(ngModel)]="profile.description" [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>
    </div>
  </mat-card>
  


