



<mat-toolbar-row> 
  <p></p>
  <h2 matSubheader class="nameSide"> <mat-icon>audiotrack</mat-icon>
    Experience The Beat Of A New Community, Sound Space
  </h2>
</mat-toolbar-row>


<mat-sidenav-container>
  <mat-sidenav mode = "side" opened="true">
    <app-sidenav (onPostButtonClick)="togglePostVisibility()" (onHomeButtonClick)="handleHomeButtonClick()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header></app-header>
    <router-outlet></router-outlet>

    <div class = "parent-container">
      <app-post *ngIf="isPostVisible" (onPostButtonClick)="togglePostVisibility()"></app-post>
      <app-home [ngStyle]="{'margin-top': isPostVisible ? '180px' : '0'}"></app-home>
    </div>

    <div class="sidebar-text">
      Welcome back, {{hellouser}}!
    </div>
    

    <button (click) = "logout()" class="logout-button" mat-button>Logout</button>

    <div class="profile-search">
      <input [(ngModel)] = "usernametoprofile" [ngModelOptions]="{standalone: true}" placeholder="Search profile" class="profile-search-input">
    </div>

    <div class="profile-search-button">
      <button (click)="gotoprofile()">Search</button>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container> 



<!-- <mat-drawer-container>
  <mat-drawer mode="side" opened="true">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> 


mat-drawer{
    width: 240px;
    background-color:dodgerblue;
    border-right: none;
    color: white;
    border-radius: 20px;
    padding: 16px;
}

mat-drawer-container{
    height: 100%;
}

-->



