<app-login-page></app-login-page>
<div>
  <div>Check if Username is in Database</div>
  <input 
  [(ngModel)] = "loginname" type="text" placeholder="user123">
  <button (click) = "checkUser()">Enter</button>
  <br>

  <div>
    <ng-container
      *ngIf="success; then found">
      </ng-container>

<ng-template #found>
  <div>
    Username Found!.
  </div>
</ng-template>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div>Submit Username to Database</div>
  <input 
  [(ngModel)] = "submitname" type="text" placeholder="user123">
  <button (click) = "addUser()">Enter</button>
  <br>

  <div>
    <ng-container
      *ngIf="addsuccess; then added">
      </ng-container>

<ng-template #added>
  <div>
    {{submittedname}} was added to database
  </div>
</ng-template>
  </div>

</div>