.content{
    margin: 16px;
    margin-left: 32px;
    padding: 16px;
    color: black;
    font-size: larger;
}

mat-card {
    max-width: 600px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 20px;
  }