
<mat-toolbar>
    <mat-icon>
        info
    </mat-icon>
     &nbsp;  What Is Sound Space?
  </mat-toolbar>
  
  &nbsp;


  <mat-card>



    <div>
      
      <div>Welcome to Sound Space! One of the world's best apps to connect with musicians and creators just like you.</div>
    
      <p>

      </p>
      <div>
        Sound Space allows you to dive deeper into the world of music and meet new artists that have similar intrests as you, when it comes to music. Making an account is easy. All you have to do is click on our sign up page and create a username, that is unique to you, and chose your password. And just like that you can sign in, create your profile, and start sharing your music and follow new creators. With Sound Space, you have the ability to post as much as you want and can interact with other creators by liking and commenting on their posts.  

    </div>

    <p>

    </p>
    <div>
        Once you make an account make sure to update your profile page with a picture and description of who you are what type of music you like to listen to and create. If you're curious on where to make new friends, just click on the trending button and explore today's top 20 artists and give them a follow. If you would like to see yourself on the trending page make sure to tag us @SoundSpace whenever you post and you may have the chance of being featured!
    </div>
    
    <p>

    </p>
    <div>
        Thank you for choosing Sound Space and we hope you enjoy your new community!
    </div>

</div>

  </mat-card>