<h1 class="content">Your Feed:</h1>

<div *ngFor="let file of reversedFiles" class="file-container">
  <mat-card>
    <div *ngIf="file.type.startsWith('image') && (file.filename != 'profilepic.png' && file.filename != 'profilepic.jpeg')">
      <h3><a (click)="gotoprofile(file.owner_id)" class="handle-link">@{{ file.handle }}</a> posted a new image!</h3>
      <img [src]="'data:' + file.type + ';base64,' + file.data" alt="Image" width="300px">
      <div>{{file.description}}</div>
    </div>

    <div *ngIf="file.type.startsWith('image') && (file.filename == 'profilepic.png')">
      <h3><a (click)="gotoprofile(file.owner_id)" class="handle-link">@{{ file.handle }}</a> updated their profile picture!</h3>
      <img [src]="'data:' + file.type + ';base64,' + file.data" alt="Image" width="300px">
      <div>{{file.description}}</div>
    </div>

    <div *ngIf="file.type.startsWith('audio')">
      <h3><a (click)="gotoprofile(file.owner_id)" class="handle-link">@{{ file.handle }}</a> posted a new track!</h3>
      <audio controls [src]="'data:' + file.type + ';base64,' + file.data"></audio>
      <div>{{file.description}}</div>
    </div>

    <mat-card-actions>
      <button [ngStyle]="{'color': file.liked ? 'red' : 'inherit'}" mat-button (click)="addLike(file)">
        <mat-icon>favorite</mat-icon> Like
      </button>
      {{file.likes}} likes
    </mat-card-actions>




    <mat-card-content>
      <mat-form-field>
        <textarea matInput #commentInput placeholder="Add a comment..."></textarea>
      </mat-form-field>
      <button mat-button (click) = "addComment(file, commentInput.value)">Post Comment</button>
    </mat-card-content>
  </mat-card>

  <div *ngIf="file.comments != null && file.comments.length > 0" class="comments-box" [ngStyle]="{'min-height': file.comments.length * 30 + 'px'}">
    <h4>Comments:</h4>
      <div *ngFor="let comment of file.comments" class = "comment">
        <strong><a (click)="gotoprofile(comment.postedby.ID.toString())" class="handle-link">@{{comment.postedby.username}}</a></strong>: {{ comment.content }}
      </div>
  </div>
</div>

