<p>community works!</p>
<h1 class="content">This explore page allows you to interact with atrist you do not follow.
    If a song cover or caption catches your attention just click on the song and you will be taken to
    the artists profile and get to hear the song.

</h1>




    <style>
        .geek{
            width: 100%;
            height: 100%;
            justify-content: center;

        }
        img{
            width: 340px;
            height: 100%;
            object-fit:fill;
        }
    </style>
    <div class="geek">
        <button style="float:left;">
        <img src="../../assets/image/higher.jpeg" alt="Sound Space">
        <div class="wrap">
            <textarea class="e-input" placeholder="Caption"></textarea>
        </div>
    </button>
    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/sky.jpeg" style="float:right;">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/pain.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/hop.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>


    <div>
        <button style="float:left;">
            <img src="../../assets/image/city.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>



    <div>
        <button style="float:left;">
            <img src="../../assets/image/sphere.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/away.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>


    <div>
        <button style="float:left;">
            <img src="../../assets/image/boy.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>


    <div>
        <button style="float:left;">
            <img src="../../assets/image/car.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/stranger.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/sunset.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/eye.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>


