 <!-- <h1 class="content">This explore page allows you to interact with atrist you do not follow.
    If a song cover or caption catches your attention just click on the song and you will be taken to
    the artists profile and get to hear the song.
</h1> -->

<mat-toolbar>
    <mat-icon>
        whatshot
    </mat-icon>
     &nbsp;  Here Are Today's Top 20 Creators 
  </mat-toolbar>
  


<p></p>

<mat-card>

    <div>
      <img src="../../assets/image/pain.jpeg" alt="Image" width="300px">
      <div>Today's Number #1 Artist is Ryan Jones! Check out his new album Pain!</div>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/away.jpeg" alt="Image" width="300px">
      <div>Today's Number #2 Artist is Jazzy J! Check out her newest single Go Away!</div>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/boy.jpeg" alt="Image" width="300px">
      <div>Today's Number #3 Artist is Shawn! Check out his new single RED!</div>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/car.jpeg" alt="Image" width="300px">
      <div>Today's Number #4 Artist is Hailz! Check out her new single Highway!</div>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/city.jpeg" alt="Image" width="300px">
      <div>TToday's Number #5 Artist is Morgan Combs! Check out his new album CityNight!</div>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/eye.jpeg" alt="Image" width="300px">
      <div>Today's Number #6 Artist is SABBY! Check out her new album The Eye Of The Beholder!</div>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/higher.jpeg" alt="Image" width="300px">
      <div>Today's Number #7 Artist is James Stone! Check out his new album Higher!</div>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/hop.jpeg" alt="Image" width="300px">
      <div>Today's Number #8 Artist is Kenya East! Check out his new single Purple!</div>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/sky.jpeg" alt="Image" width="300px">
      <div>Today's Number #9 Artist is Michael James! Check out his new album Skyland!</div>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/sphere.jpeg" alt="Image" width="300px">
      <div>Today's Number #10 Artist is Johngho Baek! Check out his new single Sphere!</div>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/stranger.jpeg" alt="Image" width="300px">
      <div>Today's Number #11 Artist is Jeanne Lebras! Check out his new album The Stranger Inside You!</div>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/sunset.jpeg" alt="Image" width="300px">
      <div>TToday's Number #12 Artist is Karl! Check out his new album Sunset, Sun, Sky!</div>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/girl.jpeg" alt="Image" width="300px">
      <div>Today's Number #13 Artist is CIARA! Check out her new single Da Girls!</div>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/timeaway.png" alt="Image" width="300px">
      <div>Today's Number #14 Artist is Keith Lori! Check out his new single Time Away!</div>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/first.jpeg" alt="Image" width="300px">
      <div>Today's Number #15 Artist is RPL! Check out their new single First Time!</div>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/ghost.jpeg" alt="Image" width="300px">
      <div>Today's Number #16 Artist is The Two! Check out their new single Ghosts!</div>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/heart.jpeg" alt="Image" width="300px">
      <div>Today's Number #17 Artist is Roy Edri! Check out his new album The Heart!</div>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/patron.png" alt="Image" width="300px">
      <div>Today's Number #18 Artist is Geceye Mi Kussem! Check out his new single Patron Featuring Burak King!</div>
    </div>

  </mat-card>
  <mat-card>

    <div>
      <img src="../../assets/image/mic.jpeg" alt="Image" width="300px">
      <div>Today's Number #19 Artist is DR. MIC! Check out his new album Here Comes Trouble!</div>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/drake.png" alt="Image" width="300px">
      <div>Today's Number #20 Artist is Drake! Check out his new album If Youre Reading This Its Too Late!</div>
    </div>

  </mat-card>

<!-- <mat-nav-list>
    <style>
        .geek{
            width: 100%;
            height: 100%;
            justify-content: center;

        }
        img{
            width: 340px;
            height: 100%;
            object-fit:fill;
        }
    </style>
    <div class="geek">
        <button style="float:left;">
        <img src="../../assets/image/higher.jpeg" alt="Sound Space">
        <div class="wrap">
            <textarea class="e-input" placeholder="Caption"></textarea>
        </div>
    </button>
    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/sky.jpeg" style="float:right;">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/pain.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/hop.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>


    <div>
        <button style="float:left;">
            <img src="../../assets/image/city.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>



    <div>
        <button style="float:left;">
            <img src="../../assets/image/sphere.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/away.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>


    <div>
        <button style="float:left;">
            <img src="../../assets/image/boy.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>


    <div>
        <button style="float:left;">
            <img src="../../assets/image/car.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/stranger.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/sunset.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>

    <div>
        <button style="float:left;">
            <img src="../../assets/image/eye.jpeg" alt="">
            <div class="wrap">
                <textarea class="e-input" placeholder="Caption"></textarea>
            </div>
        </button>

    </div>


</mat-nav-list> 
 -->
