.content{
    margin: 16px;
    margin-left: 32px;
    padding: 16px;
    color: black;
    font-size: larger;
    /* Custom font */
    font-family: 'codingfont';
}

mat-card {
    max-width: 340px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 20px;



  }


.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  color: white;
  background-color: #3f51b5;
}


