 <!-- <h1 class="content">This explore page allows you to interact with atrist you do not follow.
    If a song cover or caption catches your attention just click on the song and you will be taken to
    the artists profile and get to hear the song.
</h1> -->

<mat-toolbar>
    <mat-icon>
        whatshot
    </mat-icon>
     &nbsp;  Here Are Today's Top 20 Creators 
  </mat-toolbar>
  


<p></p>

<mat-card>

    <div>
      <img src="../../assets/image/pain.jpeg" alt="Image" width="300px">
      <div>Today's Number #1 Artist is Ryan Jones! Check out his new album Pain!</div>
    </div>
    <button mat-raised-button color="primary" (click)="gotoprofile(2)">Go to Profile</button>
  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/away.jpeg" alt="Image" width="300px">
      <div>Today's Number #2 Artist is Jazzy J! Check out her newest single Go Away!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(3)">Go to Profile</button>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/boy.jpeg" alt="Image" width="300px">
      <div>Today's Number #3 Artist is Shawn! Check out his new single RED!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(4)">Go to Profile</button>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/car.jpeg" alt="Image" width="300px">
      <div>Today's Number #4 Artist is Hailz! Check out her new single Highway!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(5)">Go to Profile</button>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/city.jpeg" alt="Image" width="300px">
      <div>TToday's Number #5 Artist is Morgan Combs! Check out his new album CityNight!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(6)">Go to Profile</button>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/eye.jpeg" alt="Image" width="300px">
      <div>Today's Number #6 Artist is SABBY! Check out her new album The Eye Of The Beholder!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(7)">Go to Profile</button>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/higher.jpeg" alt="Image" width="300px">
      <div>Today's Number #7 Artist is James Stone! Check out his new album Higher!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(8)">Go to Profile</button>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/hop.jpeg" alt="Image" width="300px">
      <div>Today's Number #8 Artist is Kenya East! Check out his new single Purple!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(9)">Go to Profile</button>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/sky.jpeg" alt="Image" width="300px">
      <div>Today's Number #9 Artist is Michael James! Check out his new album Skyland!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(10)">Go to Profile</button>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/sphere.jpeg" alt="Image" width="300px">
      <div>Today's Number #10 Artist is Johngho Baek! Check out his new single Sphere!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(11)">Go to Profile</button>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/stranger.jpeg" alt="Image" width="300px">
      <div>Today's Number #11 Artist is Jeanne Lebras! Check out his new album The Stranger Inside You!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(12)">Go to Profile</button>
    </div>

  </mat-card>


  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/sunset.jpeg" alt="Image" width="300px">
      <div>TToday's Number #12 Artist is Karl! Check out his new album Sunset, Sun, Sky!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(13)">Go to Profile</button>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/girl.jpeg" alt="Image" width="300px">
      <div>Today's Number #13 Artist is CIARA! Check out her new single Da Girls!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(14)">Go to Profile</button>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/timeaway.png" alt="Image" width="300px">
      <div>Today's Number #14 Artist is Keith Lori! Check out his new single Time Away!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(15)">Go to Profile</button>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/first.jpeg" alt="Image" width="300px">
      <div>Today's Number #15 Artist is RPL! Check out their new single First Time!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(16)">Go to Profile</button>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/ghost.jpeg" alt="Image" width="300px">
      <div>Today's Number #16 Artist is The Two! Check out their new single Ghosts!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(17)">Go to Profile</button>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/heart.jpeg" alt="Image" width="300px">
      <div>Today's Number #17 Artist is Roy Edri! Check out his new album The Heart!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(18)">Go to Profile</button>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/patron.png" alt="Image" width="300px">
      <div>Today's Number #18 Artist is Geceye Mi Kussem! Check out his new single Patron Featuring Burak King!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(19)">Go to Profile</button>
    </div>

  </mat-card>
  <mat-card>

    <div>
      <img src="../../assets/image/mic.jpeg" alt="Image" width="300px">
      <div>Today's Number #19 Artist is DR. MIC! Check out his new album Here Comes Trouble!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(20)">Go to Profile</button>
    </div>

  </mat-card>

  <p>

  </p>
  <mat-card>

    <div>
      <img src="../../assets/image/drake.png" alt="Image" width="300px">
      <div>Today's Number #20 Artist is Drake! Check out his new album If Youre Reading This Its Too Late!</div>
      <button mat-raised-button color="primary" (click)="gotoprofile(21)">Go to Profile</button>
    </div>

  </mat-card>

